
//	http://offroadcode.com/blog/2012/1/24/using-css-bodybefore-to-help-responsive-design/

body.debug {
	@include background(linear-gradient(rgba(0, 0, 0, 0) #{$line-height - 1}px, rgba(0, 0, 0, 0.15) $line-height + px));
	background-size: 100% $line-height + px;

	&:before {
		background: #ffc;
		border-radius: 0 0 10px 10px;
		@include box-sizing(border-box);
		content: 'Resolution width <= 320px';
		display: block;
		padding: 0 10px;
		position: absolute;
		right: 2%;

		@include respond-to(tiny)    { content: 'Resolution width: <= 320px'        }
		@include respond-to(narrow)  { content: 'Resolution width: 320px <> 560px'  }
		@include respond-to(medium)  { content: 'Resolution width: 560px <> 780px'  }
		@include respond-to(regular) { content: 'Resolution width: 780px <> 1100px' }
		@include respond-to(wide)    { content: 'Resolution width: >= 1100px'       }
	}
}
