<p>This will delete your account FUH-EVER. Are you sure you want to do this?</p>
<a class="btn btn-primary" href="/your-profile/edit">Nah</a>
<form action="/your-profile/delete" method="post">
	<fieldset>
		<input type="hidden" name="_csrf" value="{{token}}" />

		<div class="form-group">
			<label for="password">Password</label>
			<input class="form-control" id="password" name="password" type="password" />
		</div>

		<button class="btn btn-danger" type="submit">Yep</button>
	</fieldset>
</form>