
<form action="/signup" method="post">
	<fieldset>
		<input type="hidden" name="_csrf" value="{{token}}" />

		<div class="form-group">
			<label for="name">Your Name</label>
			<input class="form-control" id="name" name="name" type="text" value="Jonic Linley" />
		</div>

		<div class="form-group">
			<label for="username">Username</label>
			<input class="form-control" id="username" name="username" type="text" value="jonic" />
		</div>

		<div class="form-group">
			<label for="email">Email Address</label>
			<input class="form-control" id="email" name="email" type="email" value="jonic@100yen.co.uk" />
		</div>

		<div class="form-group">
			<label for="password">Password</label>
			<input class="form-control" id="password" name="password" type="password" value="123123" />
		</div>

		<div class="checkbox">
			<label><input type="checkbox" name="privateAccount" value="true" /> Private account</label>
		</div>

		<button class="btn btn-primary" type="submit">Create Account</button>
	</fieldset>
</form>