
	<ul class="nav nav-tabs">
		<li><a href="/dashboard">Dashboard</a></li>
		<li><a href="/diary/{{auth.username}}">Your Diary</a></li>
		<li><a href="/diary/{{auth.username}}/new-entry">New Entry</a></li>
	</ul>
