
	<ul class="nav nav-tabs">
		<li><a href="/dashboard">Dashboard</a></li>
		<li><a href="/diary/{{auth.username}}">Your Diary</a></li>
		<li><a href="/diary/new-entry">New Entry</a></li>
		<li><a href="/your-profile">Your Profile</a></li>
		<li><a href="/your-profile/edit">Edit Your Profile</a></li>
	</ul>
